.section-services-st-14.g-b-primary-bg, .divider14, .blog-st-14-meta-date, .team-14-overlay, .section-title-st-14 .section-title-14-divider, .section-aboutus-st-14 .aboutbox14-divider, .section-team-st-14 .team14-about-divider, .section-team-st-14 .btn-style14-2, .section-services-st-14 .service-box .service-box-inner .icon-style:before, .section-services-st-14 .service-box .service-box-inner .icon-style i:after, .section-banner-st-14 .btn-default, .section-banner-st-14 .btn-default:hover, .section-banner-st-14 .btn-default:focus, .section-banner-st-14 .btn-default:active, .section-quote14 .btn-default, .section-quote14 .btn-default:hover, .section-quote14 .btn-default:focus, .section-quote14 .btn-default:active, .section-banner-st-14 .btn-primary:hover, .section-banner-st-14 .btn-primary:focus, .section-banner-st-14 .btn-primary:active, .section-quote .btn-primary-revert, .section-subscribe-st-14 .btn-third, .header-st-14 button.nav-toggle {
    background-color: #87dd4c;
    border-color: #87dd4c;
}

.page-header {
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
    background: black;
    height: 5.14286rem;
    border-bottom: 1px solid #cccfd1;
}

.home:not(.sticky-header) .page-container:not(.mobile-nav--toggle) .page-header {
    background: 0;
    border-color: transparent;
}

.home .page-header {
    -webkit-transition: background .4s, border .4s, -webkit-transform .4s;
    transition: background .4s, border .4s, transform .4s;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 16px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    font-size: 16px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    opacity: 1 !important;
}

@media (max-width: 992px) {
    .navbar-collapse {
        background: white;
    }
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        font-size: 16px;
        padding-top: .9rem;
        padding-bottom: .9rem;
        padding-left: 20px;
        padding-right: 20px;
        color: black;
        font-weight: 400;
        opacity: 1 !important;
    }
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
    color: #555;
    position: fixed;
}

.ftco-navbar-light.scrolled {
    transition: all 0.8s ease-out;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -2px;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.name-triangle {
    z-index: 999;
    bottom: 0;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.514) 0%, rgba(0, 0, 0, 0.514)  50%, #00a6ff6c 50%, #00a6ff6c 100%);
}
@media screen and (max-width: 570px) {
    /*.name-triangle {
        border-bottom: 20px solid #00a6ff !important;
    }*/
}

@media screen and (max-width: 767px) {
    /*.section-banner.size-board-banner {
        min-height: 420px;
        max-height: 420px;
    }*/
}
@media screen and (min-width: 768px) {
    /*.section-banner.size-board-banner {
        min-height: 620px;
        max-height: 620px;
    }
    .name-triangle {
        border-bottom: 100px solid #00a6ff;
    }
    .box-image {
        padding: 0 !important;
        margin-left: 15px;
        margin-right: 15px;
        padding: 30px 0 !important;
    }*/
}
@media screen and (min-width: 1120px) {
    /*.section-banner.size-board-banner {
        min-height: 720px;
        max-height: 720px;
    }
    .white-triangle {
        border-bottom: 70px solid #00a6ff;
    }
    .box-image {
        border: 1px solid #ccc;
        padding: 0 !important;
        margin-left: 15px;
        margin-right: 15px;
    }*/
}

@media screen and (max-width: 1366px) and (min-width: 768px) {
    /*.name-triangle {
        border-bottom: 100px solid #00a6ff;
    }
    .content-home-banner, .content-home-banner-slide>div {
        background-position: 80% 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }*/
}
.width-height-complete{
    width: 100% !important;
    height: 100% !important;
}